.classes-table {
    border: 1px solid grey;
    margin-top: 30px;
    max-height: 500px;
    overflow: auto;
  }

#book-event{
    background-color: rgb(43, 5, 125); 
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
    position: relative;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-right: 1px solid #f6f2f2;

  }
  
  tr {
    border-bottom: 1px solid #000; /* Border for rows */
    background-color: #000;
  }
  
  th {
    background-color: #0c0c0c;
    color: white;
    border-bottom: 1px solid #fdfdfd;
    position: sticky;
    top: 0;
  }

  .message{
    color: rgb(126, 4, 4);
    font-weight: bold;
  }