.container{
    background-color: black;
    height: 40px;
    justify-content: space-between;
    position: fixed;
    background-color: #333;
  color: white;
 
  padding: 10px 20px;
  position: fixed; /* Keep the navigation bar fixed */
  top: 0; /* Position it at the top of the screen */
  left: 0; /* Position it at the left edge of the screen */
  width: 100%; /* Make it span the full width of the screen */
  z-index: 100;
}

.left-container{
    color: wheat;
    display: flex;
}

.left-container ul{
    width: 600px;
    display: flex; 
    justify-content: space-between;
    font-size:14px;
    color: white;
}
.left-container ul li{
    list-style: none;
    position: relative;
    bottom: 5px;
    color: aqua;
    font-weight: bold;
    left:30px
}


.right-container{
    color: wheat;
    display: flex;
}
.right-container ul{
    width: 150px;
    display: flex; 
    justify-content: space-between;
    font-size:16px;
    color: white;
  
  
}

.right-container ul li{
    list-style: none;
    position: relative;
      direction: rtl;
      left: 1250px;
      bottom: 52px;
    color: aqua;
    font-weight: bold;
   
}

.user-icon {
    cursor: pointer;
    display: block;
  }
  
  .user-list {
    position: absolute;
   top: 80px;
   right:1090px;
   width: 150px;
  }

  #notification-icon{
    position: absolute;
    z-index: 9999;
    color:white;
    display:flex;
     position:relative;
    font-size: 20px;
    left:20px;
    visibility: visible;
  }

  #notification-button{
    visibility: hidden;
 
  }






  
  
  
  
  
  