#reset-password-page{
    margin-top: 250px;
}
#reset-password {
  display: block;
  position: relative;
  justify-content: center;
}

#update-password {
  display: flex;
  position: relative;
  margin-left: 690px;
  background-color: aqua;
  margin-top: 70px;

  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

#reset-massage {
  font-size: 20px;
  color: rgb(23, 121, 23);
  font-weight: bold;
}
