
#container {
    margin-top: 180px;
 
}
#delete-activity {
  display: grid;
  position: relative;
  left: 200px;
  bottom: 20px;
}

#user-activities-list {
  justify-items: right;
  text-align: left;
}

#add-more-activities {
  height: 30px;
  background-color: aqua;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  position: relative;
  margin-left: 38px;
  align-items: center;
}

#empty {
  font-size: 20px;
  color: rgb(121, 2, 2);
  font-weight: bold;
}

#Classes-system {
  height: 30px;
  background-color: aqua;
  height: 30px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
   display: flex;
   position: relative;
   justify-content: center;
  height: 30px;
  color: blue;
  font-size: 15px;
  left: 45%;
  align-items: center;
  margin-top: 50px;
}
#Add-weighing{
  height: 30px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-left: 38px;
}
#upcoming-events{
  height: 30px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    height: 30px;
    color: blue;
    font-size: 15px;
    margin-left: 48%;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 30px;
}
#calendar{
    height: 30px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    height: 30px;
    color: blue;
    font-size: 15px;
    margin-left: 48.7%;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 30px;
}
#weights-line-chart{
  height: 30px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-left: 38px;
}







