
#add-activity {
  height: 30px;
  width: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(15, 169, 76);
  font-size: 15px;
  font-weight: bold;
  border: none;
  
}

#add-activity:hover {
  background-color: rgb(125, 192, 125);
  opacity: 80%;
  
}

ul li {
  list-style: none;
}
