
@keyframes flicker {
    0%, 100% {
      opacity: 5;
      visibility: visible;
    }
    50% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .Login{
    margin-top: 250px;
  }
  
  #log-in {
    animation: flicker 2s infinite;
  }

  .toggle-password{
    display: flex;
    position: relative;
    bottom: 30px;
    left:215px;
    font-size: 18px;
  }
