.news{
  margin-top: 50px;
    color: darkmagenta;
  
}
#news-logo{
    
  height: 200px;
  width: 250px;
}
@media (prefers-reduced-motion: no-preference) {
    .news-logo {
      animation: App-logo-spin 2s linear;
    }
  }


#news-container{
    width: 200px;
    height: 50px;
    background-color: #d38921;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: 45%;
    justify-content: center;
    align-items: center;
}


#moving-text1 {
    font-size: 24px;
    font-weight: bold;
    animation: moveAndFadeText 4s linear infinite; /* Apply combined animation */
}
#moving-text2 {
    font-size: 24px;
    font-weight: bold;
    animation: moveAndFadeText 2s linear infinite; /* Apply combined animation */
}

/* Define the combined animation keyframes */
@keyframes moveAndFadeText {
    0%, 25%, 75%, 100% {
        transform: translateY(-15px); /* Start and end positions above the container */
        opacity: 0; /* Text is invisible */
    }
    50% {
        transform: translateY(0); /* Middle position inside the container */
        opacity: 1; /* Text is visible */
    }
}

#activies-manage{
    display: inline-block;
            padding: 10px 20px;
            background-color: #04c818;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease; 
            margin-top: 30px;
}

#activies-manage:hover{
    background-color: #02770e;
    transform: scale(1.1);

}

